@inject IWishlistService WishlistService
@using Quantum.UI.CourseSelectionAssistant.Services
@using zdbk.zju.edu.cn.Models
@implements IDisposable
@if (!WishlistService.Wishlist.Any())
{
    <p>您的愿望单是空的。</p>
}
else
{
    <Table DataSource="@WishlistService.Wishlist"
           Size="TableSize.Small"
           Bordered>
        <PropertyColumn Title="课程名称" Property="c => c.CourseName" />
        <Column Title="教师" TData="SectionSnapshot">
            <div style="white-space: pre-wrap;">
                @string.Join('\n', context.Instructors)
            </div>
        </Column>
        <PropertyColumn Title="学期" Property="c => c.Semesters" />
        <Column Title="上课时间" TData="SectionSnapshot">
            <div style="white-space: pre-wrap;">
                @string.Join('\n', context.ScheduleAndLocations.Select(pair=>pair.Schedule))
            </div>
        </Column>
        <Column Title="上课地点" TData="SectionSnapshot">
            <div style="white-space: pre-wrap;">
                @string.Join('\n', context.ScheduleAndLocations.Select(pair=>pair.Location))
            </div>
        </Column>
        <PropertyColumn Title="考试时间" Property="c => c.ExamTime" />
        <Column Title="选中概率" TData="SectionSnapshot">
            @if (context.ExtraProperties.TryGetValue("SelectionProbability", out var selectionProbability))
            {
                var res = decimal.Parse(selectionProbability);
                @($"{(int)(res * 100)}%")
            }
        </Column>
        <ActionColumn>
            <AntDesign.Button Type="ButtonType.Primary" Size="ButtonSize.Small" @onclick="() => WishlistService.RemoveWish(context)">从心愿单中移除</AntDesign.Button>
        </ActionColumn>
    </Table>
}

@code
{
    protected override void OnInitialized()
    {
        WishlistService.OnUpdated += StateHasChanged;
    }

    public void Dispose()
    {
        WishlistService.OnUpdated -= StateHasChanged;
    }
}
