@page "/accounts"
@using Quantum.Infrastructure.Abstractions
@inject IEnumerable<IAccountService> AccountServices
@inject NavigationManager NavigationManager

<Table TItem="IAccountService"
        DataSource="@AccountServices"
        HidePagination>
    <PropertyColumn Property="c=>c.ServiceName" Title="服务名称" />
    <PropertyColumn Property="c=>c.LoginStatus" Title="当前账户" />
    <Column Title="登录状态" TData="IAccountService">
        <Badge Status="@(context.IsAuthenticated ? BadgeStatus.Success : BadgeStatus.Default)"
                Text="@(context.IsAuthenticated ? "已登录" : "未登录")"/>
    </Column>
    <ActionColumn Title="操作">
        @if (context.IsAuthenticated)
        {
            <Button Type="@ButtonType.Link" OnClick="() => context.LogoutAsync()">退出登录</Button>
        }
        else
        {
            <Button Type="@ButtonType.Link" OnClick="() => NavigationManager.NavigateTo(context.LoginRoute)">登录</Button>
        }
    </ActionColumn>
</Table>
